amqp==2.5.2
anyjson==0.3.3
asgiref==3.2.7
asn1crypto==0.24.0
billiard==3.6.3.0
captcha==0.2.4

certifi==2020.4.5.1
cffi==1.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3.1
Django==2.2.7
django-appconf==1.0.3
django-bootstrap-toolkit==2.15.0

django-compressor==2.2
django-contrib-comments==1.9.2
django-crontab==0.7.1
django-filter==2.1.0

django-jsonfield==1.0.1
django-markdown-deux==1.0.5
django-model-utils==3.1.2
django-ranged-response==0.2.0
django-redis==4.10.0
django-registration-redux==2.5
django-rest-swagger==2.2.0
django-simple-captcha==0.5.9
django-simpleui==2.1
django-timezone-field==4.0
django-tinymce==2.8.0
djangorestframework==3.9.1
dnspython==1.16.0
eventlet==0.25.1
greenlet==0.4.15
idna==2.7
importlib-metadata==1.5.0
itypes==1.1.0
Jinja2==2.11.1
kombu==4.6.8
Markdown==3.1.1
markdown2==2.3.8
MarkupSafe==1.1.1
monotonic==1.5
mysqlclient
openapi-codec==1.3.2
Pillow==6.2.0
pycparser==2.18
PyMySQL==0.9.2
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
rcssmin==1.0.6
redis==3.2.0
requests==2.23.0
rjsmin==1.0.12
simplejson==3.17.0
six==1.11.0
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.8
vine==1.3.0
xadmin-django
wincertstore==0.2
zipp==3.1.0
